DOMAIN=antonshubin.com
WWW_DOMAIN=www.antonshubin.com
SCHEDULE_URL=https://meet.${DOMAIN}
CONTACT_EMAIL=anton@${DOMAIN}
SMTP_HOST=mail.${DOMAIN}
SMTP_PORT=465
SMTP_FROM=anton@${DOMAIN}
SMTP_USERNAME=anton@${DOMAIN}
SMTP_PASSWORD=YOUR_SMTP_PASSWORD_HERE
UMAMI_URL=
UMAMI_ID=
