DOMAIN=antonshubin.com
SCHEDULE_URL=https://schedule.${DOMAIN}/spy4x/30min
CONTACT_EMAIL=anton@${DOMAIN}
SMTP_HOST=mail.${DOMAIN}
SMTP_PORT=587
SMTP_FROM=noreply@${DOMAIN}
SMTP_USERNAME=noreply@${DOMAIN}
SMTP_PASSWORD=YOUR_SMTP_PASSWORD_HERE
PLAUSIBLE_URL=
UMAMI_URL=
UMAMI_ID=
