extends ../partials/layout
block variables
  - var title = 'Blog | Anton Shubin'
  - var description = 'Aggregation of my thoughts regarding web development, SaaS-startups and Arduino'
block content
  .max-w-7xl.mx-auto.px-4(class='sm:px-6 md:px-8')
    h1.text-2xl.font-semibold.text-gray-900(class='hover:text-red-900') Blog
  .max-w-7xl.mx-auto.px-4(class='sm:px-6 md:px-8')
    // BEGIN: Replace with your content
    .py-4
      .border-4.border-dashed.border-gray-200.rounded-lg.h-96
    // END: Replace with your content
