extends ../partials/layout

block variables
  - var title = 'Anton Shubin | Full-stack web developer and entrepreneur'
  - var description = 'Anton Shubin is a web developer and entrepreneur. He is passionate about creating a web applications and tools.'

block content
  .relative.overflow-hidden.mb-12(class="md:mb-20")
    .max-w-7xl.mx-auto
      .relative.py-9.z-10.bg-slate-900(class='sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32')
        svg.hidden.absolute.right-0.inset-y-0.h-full.w-48.text-slate-900.transform(class='lg:block translate-x-1/2' fill='currentColor' viewbox='0 0 100 100' preserveaspectratio='none' aria-hidden='true')
          polygon(points='50,0 100,0 50,100 0,100')
        main.mx-auto.max-w-7xl(class='sm:px-6 md:mt-12 lg:mt-20 lg:px-8 xl:mt-28')
          div(class='sm:text-center lg:text-left')
            h1.text-4xl.font-bold.text-gray-100.mb-4(class='sm:text-5xl md:text-6xl')
              span.block(class='xl:inline') Hey, I'm Anton!
            .text-base.text-gray-200(class='sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-8 md:text-2xl lg:mx-0')
              p.mb-4
                | I develop
                span.inline-flex.items-center.rounded-md.font-medium.bg-orange-500(class='px-2 py-0.5 mx-2') SaaS-applications
                | from top to bottom for my freelance clients and also for myself.
              p  Oh, and I love travel, skiing and tinkering devices using Arduino.
    div(class='lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2')
      img.h-56.w-full.object-cover.rounded-lg(class='sm:h-72 md:h-96 lg:w-full lg:h-full' src='img/photo-big.webp' alt='Anton Shubin')
  include ../partials/current-work
  include ../partials/contact-form
