extends ../partials/layout

block variables
  - var pageTitle = 'Anton Shubin | Full-stack web developer and entrepreneur'
  - var pageDescription = 'Anton Shubin is a web developer and entrepreneur. He is passionate about creating a web applications and tools.'
  - var pageRelativeUrl = '/'

block content
  .absolute.inset-0
    .flex.flex-col.align-center.justify-center.max-w-xl.mx-auto.py-24.gap-8(class='md:py-12')
      a.text-4xl.tracking-wide.text-white.font-medium.text-center(href="https://buy.stripe.com/4gw171g4hcwC06IdQS" target="_blank" rel="noopener noreferrer")
        span Pay with
        span.ml-1.text-blue-500.underline Stripe
        p.text-slate-300.text-sm click this link or scan the QR-code
        img.w-full.object-cover(src='img/qr-stripe.svg' alt='QR-code to pay with Stripe')

      p.text-slate-300.text-xl.text-center OR

      div.flex.flex-col.gap-3.mx-auto.mt-4.max-w-xs
        p.text-4xl.tracking-wide.text-white.font-medium.text-center
          span Transfer USD through
          span.ml-1.text-orange-500 SWIFT:

        div
          p.text-slate-400 Account holder full name
          p.text-white NEATSOFT PTE. LTD.

        div
          p.text-slate-400 Account number/IBAN
          p.text-white GB21TCCL04140420871198

        div
          p.text-slate-400 Bank name
          p.text-white The Currency Cloud Limited

        div
          p.text-slate-400 Bank SWIFT/BIC
          p.text-white TCCLGB3L

        div
          p.text-slate-400 Bank address
          p.text-white 12 Steward Street, The Steward Building, London, E1 6FQ, GB

        div
          p.text-slate-400 Bank country
          p.text-white GB
