extends ../partials/layout
block variables
  - var title = 'Projects | Anton Shubin'
  - var description = 'Projects I\'m working onn or participated into.'

block content
  section.max-w-2xl.mx-auto.text-center
    .mb-6
      h1.h1 FoodRazor
      p.text-gray-400
        a(href="https://foodrazor.com") https://foodrazor.com
    p
      span.project-badge Angular
      span.project-badge Node.js
      span.project-badge Express.js
      span.project-badge GCP
      span.project-badge Firebase
      span.project-badge Firestore

    h2.tracking-wide.mt-6.text-xl.text-gray-100 Digitize paper invoices, automating orders to suppliers, and tracking price fluctuations.

  section.max-w-4xl.mx-auto.p-6
    .main-img.mb-4
      img.mx-auto.rounded-lg(src='/img/projects/foodrazor/1.webp' alt='project.title' loading="lazy")
    .flex.h-20.gap-3.overflow-scroll
      img.rounded-lg.border.border-2.border-orange-500(src='/img/projects/foodrazor/1.webp' alt='project.title' loading="lazy")
      img.rounded-lg.border.border-2.border-gray-800(class="hover:border-orange-500" src='/img/projects/foodrazor/2.webp' alt='project.title' loading="lazy")
      img.rounded-lg(src='/img/projects/foodrazor/3.webp' alt='project.title' loading="lazy")
      img.rounded-lg(src='/img/projects/foodrazor/4.webp' alt='project.title' loading="lazy")
      img.rounded-lg(src='/img/projects/foodrazor/5.webp' alt='project.title' loading="lazy")
      img.rounded-lg(src='/img/projects/foodrazor/6.webp' alt='project.title' loading="lazy")
