extends ../partials/layout

block variables
  - var pageTitle = 'Anton Shubin | Full-stack web developer and entrepreneur'
  - var pageDescription = 'Anton Shubin is a web developer and entrepreneur. He is passionate about creating a web applications and tools.'
  - var pageRelativeUrl = '/'

block content
  .absolute.inset-0
    .flex.flex-col.align-center.justify-center.h-full.max-w-xl.mx-auto
      h1.text-4xl.tracking-wide.text-white.font-medium.text-center.-mt-8.mb-4
        span anton
        span.text-orange-500 shubin
        span .com
      img.w-full.object-cover(src='img/qr-blue.webp' alt='QR-code to share the website')
