extends ../../partials/layout
block variables
  - var title = 'Blog | Anton Shubin'
  - var description = 'Aggregation of my thoughts regarding web development, SaaS-startups and Arduino'

mixin blogArticlePreview(article)
  .flex.flex-col.text-center.w-full.mt-16.mb-10
    a(href='/blog/'+article.slug)
      img(src=article.previewImageURL alt="Article preview")
      h1.text-2xl.font-medium.title-font.text-white(class='sm:text-3xl') #{article.title}


block content
  .flex.flex-col.max-w-7xl.mx-auto.justify-center.items-center
    h1.text-2xl.font-medium.title-font.text-white(class='sm:text-3xl') Blog
     each article in data.blogArticles
       +blogArticlePreview(article)
