extends ../../partials/layout

block variables
  - var pageTitle = 'Blog | Anton Shubin'
  - var pageDescription = 'Aggregation of my thoughts regarding web development, SaaS-startups and Arduino'
  - var pageRelativeUrl = '/blog'

mixin blogArticlePreview(article)
  article.mt-16.mb-10
    a(href='/blog/'+article.slug)
      img.rounded-lg.mb-4(src=('/img/blog/'+article.slug+'/'+article.previewImageURL) alt="Article preview")
      h1.h2.mb-2
        span.mr-2.text-gray-400 ##{article.index}
        span #{article.title}
      .flex.text-gray-400.items-center
        span Time to read: #{article.readTime} min
        span.ml-auto #{prettyDate(article.publishedAt)}


block content
  .max-w-xl.mx-auto
    h1.h1.text-center Blog
    each article in data.blogArticles.reverse()
      +blogArticlePreview(article)
