section.text-gray-400.bg-gray-900.body-font
    .container.px-5.py-24.mx-auto
        .flex.flex-col.text-center.w-full.mb-20
            h1.text-2xl.font-medium.title-font.mb-4.text-white(class='sm:text-3xl') I'm currently working on:
        .flex.flex-wrap.-m-4.text-center
            .p-4.w-full.flex-1(class='md:w-1/4 sm:w-1/2')
                a.h-full.block.border-2.border-gray-800.px-4.py-6.rounded-lg(href="/blog.html" target="_blank" class='hover:border-orange-500')
                    svg.text-orange-500.w-12.h-12.mb-3.inline-block(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                        path(d='M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z')
                    p.text-gray-50 This blog
            .p-4.w-full.flex-1(class='md:w-1/4 sm:w-1/2')
                a.h-full.block.border-2.border-gray-800.px-4.py-6.rounded-lg(href="https://www.youtube.com/channel/UCzHggR9W9OdquYOvBuEORiQ/videos" target="_blank" class='hover:border-orange-500')
                    svg.text-orange-500.w-12.h-12.mb-3.inline-block(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                        path(d='M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z')
                        polygon(points='9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02')
                    p.text-gray-50 My YouTube channel
            .p-4.w-full.flex-1(class='md:w-1/4 sm:w-1/2')
                a.h-full.block.border-2.border-gray-800.px-4.py-6.rounded-lg(href="https://github.com/spy4x/" target="_blank" class='hover:border-orange-500')
                    svg.text-orange-500.w-12.h-12.mb-3.inline-block(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                        polyline(points='16 18 22 12 16 6')
                        polyline(points='8 6 2 12 8 18')
                    p.text-gray-50 One-man SaaS template codebase The Seed
            .p-4.w-full.flex-1(class='md:w-1/4 sm:w-1/2')
                a.h-full.block.border-2.border-gray-800.px-4.py-6.rounded-lg(href="https://toread-today.web.app/" target="_blank" class='hover:border-orange-500')
                    svg.text-orange-500.w-12.h-12.mb-3.inline-block(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                        path(d='M18 10h-1.26A8 8 0 1 0 9 20h9a5 5 0 0 0 0-10z')
                    p.text-gray-50 A cloud tool to organise things to read/watch later Toread.Today
