.subscribe-email.border-1.p-6.bg-gray-800.rounded-lg
  h2.text-white Subscribe to get updates about new blog posts
  input#subscribe-email-input(type='email' placeholder='Email')
  button#subscribe-email-button.text-white.border(type='button') Sign Up
  p#subscribe-email-validation.text-red-500(style='display: none;') Please enter a valid email
