section.border-1.p-6.bg-gray-800.rounded-lg.text-gray-400.body-font.mb-12.max-w-md.mx-auto(class="md:mb-20")
  .text-center.mb-2
    h1.text-2xl.font-medium.title-font.mb-2.text-white(class='sm:text-3xl') Subscribe
    p.text-base Get updates about new blog posts.
  div
    .p-2.flex.flex-col.gap-3.justify-center(class="md:flex-row")
      div
        input#subscribe-email-input.w-full.bg-gray-800.rounded.border.border-gray-700.text-base.outline-none.text-gray-100.py-1.px-3.leading-8.transition-colors.duration-200.ease-in-out(type='email' placeholder='Email' name='email' class='focus:border-orange-500 focus:bg-gray-900 focus:ring-0 md:w-64')
        p#subscribe-email-validation.text-red-500(style='display: none;') Please enter a valid email
      button#subscribe-email-button.flex.items-center.gap-2.text-white.bg-orange-500.border-0.py-2.px-6.rounded.text-base.font-medium.self-end(class='focus:outline-none hover:bg-orange-600 md:self-start' type="button")
        .w-6.h-6.loading.hidden
        span Submit
