@tailwind base;
@tailwind components;
@tailwind utilities;

/* Shared */
@screen sm {
  #menu {
    width: 100vh;
  }
}
.h1 {
  @apply text-2xl sm:text-3xl;
  @apply tracking-wide text-white font-medium;
}
.h2 {
  @apply text-xl sm:text-2xl;
  @apply tracking-wide text-white font-medium;
}

/* About me */
.current-work {
  @apply border-2 border-gray-700;
  @apply bg-gray-800;
  @apply px-4 py-6;
  @apply rounded-lg;
}

/* Projects */
.project-badge {
  @apply tracking-wide inline-flex items-center px-2 rounded text-sm bg-orange-500 text-white py-0.5 my-1 mr-2;
}

/* Blog */
.blog-content a {
  @apply underline decoration-orange-500;
}
.blog-content > h2 {
  @apply mt-12 mb-4;
  @apply text-3xl text-slate-100;
}
.blog-content > h3 {
  @apply mt-10 mb-4;
  @apply text-2xl text-slate-50;
}
.blog-content > p {
  @apply mb-10;
  @apply text-xl font-light leading-8;
}
.blog-content > ol,
.blog-content > ul {
  @apply my-2 mb-10;
  @apply px-12;
  @apply text-lg font-light;
  letter-spacing: 0.00625rem;
}
.blog-content > ol li,
.blog-content > ul li {
  @apply mb-4;
}
.blog-content > ol {
  @apply list-decimal;
}
.blog-content > ul {
  @apply list-disc;
}
.blog-content img {
  @apply my-8 mx-auto;
  @apply rounded-md;
}
.blog-content > .well {
  @apply px-6 py-4 my-6 mx-auto;
  @apply border-2 border-gray-700 rounded-lg;
  @apply bg-gray-800;
}
.blog-content > .well.well--warning {
  @apply border-orange-500;
}
.blog-content > .well.well--warning > p:before {
  @apply text-orange-500;
  content: '⚠️';
}
.blog-content > blockquote {
  @apply text-gray-50 italic text-2xl font-light;
  @apply relative py-8 px-6 bg-gray-800/50 md:px-10;
  @apply my-12 md:mx-28;
  @apply border-l-4 border-orange-500;
  letter-spacing: 0.0125rem;
}
.blog-content strong {
  @apply font-bold;
}

@screen sm {
  .blog-content img {
    max-width: 80%;
    max-height: 25rem;
  }
  .blog-content > .well {
    max-width: 80%;
  }
}

.grecaptcha-badge {
  display: none !important;
}

.loading {
  border: 3px solid transparent;
  border-top-color: white;
  border-radius: 50%;
  animation: loading 1s linear infinite;
  font-family: monospace;
}
.loading.loading--success,
.loading.loading--error {
  border-top-color: transparent;
  animation: loading--result 1s;
  transform: translateY(-5px);
}
.loading.loading--success:before {
  content: '✔';
  font-size: 200%;
}
.loading.loading--error:before {
  content: 'x';
  font-size: 200%;
}
@keyframes loading {
  /* Safari support */
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes loading--result {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) translateY(-5px);
  }
}
